.container {
    position: relative;
    width: 100%;
    padding: 0px;

    #fundo {
        width: 100%;
        height: auto;
        display: block;
    }
  }

.container3 {
    padding-left: 8%;
  
    h2 {
        font-size: xx-large;
    }

    p {
        font-size: large;
    }

}
  
.overlay {
    position: absolute;
    top: 50%;
    left: 25%;
    transform: translate(-50%, -50%);
    padding: 20px;
    text-align: justify;

    p {
        font-weight: bold;
    }
}
  
#check {
    width: 80px;
    height: 70px;
}
  
.container2 {
    display: flex;
    align-items: center;
}

.card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 30px 8% 30px 8%;

    .card {
        flex: 1;
        max-width: 22%;
        margin: 10px;
        padding: 20px;
        box-sizing: border-box;
        text-align: center;
        border: 1px solid #ddd;
        background-color: #EEEEEB;
        border-radius: 6%;
    
        img {
            max-width: 55%;
            height: auto;
        }
    }
}
  
@media screen and (max-width: 768px) {

    .container {
        #fundo {
            display: none;
          }
    }
    
    
      .overlay {
        position: relative; /* Altera a posição para relativa */
        top: 0;
        left: 0;
        transform: none; /* Remove a transformação */
        padding: 30px; /* Reduz o espaço ao redor do conteúdo */
        text-align: justify; /* Centraliza o texto */
        background-image: url('../../../public/plano_fundo_2.png');
        background-position: 67% 6%;

            h1 {
                font-size: 2rem;
            }

            p {
                display: none;
              }

              button {
                font-size: 1rem; /* Reduz o tamanho da fonte */
                padding: 10px 20px; /* Adiciona espaço ao redor do botão */
              }
      }
    
      
    
      .container2 {
        flex-direction: row;
        align-items: center;
      }
    
      #check {
        width: 50px;
        height: 45px;
    }
    
      .container2 h2 {
        font-size: 1rem; 
        margin-top: 10px;
      }
    
    
    

    .card-container {
        display: flex;
        flex-direction: column;
        align-content: center;
        margin: 30px 8% 30px 8%;

        .card {
            max-width: 90%;
            font-size: x-small;
          }
      }
    
    .container3 {
          
          h1 {
              font-size: 2em;
            }
            
            .container3 h2{
                font-size: larger;
            }
            
            .container3 p {
                font-size: medium;
            }
        }
}