.container4 {
    padding-left: 8%;
    padding-right: 8%;
    padding-top: 2%;
}

#vistoria_movel {
    display: none;
}
  
.container5 {
    display: none;
}

@media screen and (max-width: 768px){
    .container4 h3, p {
        font-size: 0.8em;
      }
      
      #vistoria_computador {
        display: none;
      }
    
      #vistoria_movel {
        font-size: 1.5em;
        display: block;
      }
    
      .container5 {
        display: block;
        background-color: grey;
      }
}