nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #0146C0;
    color: white;
    padding: 10px;
    height: 10vh;

    a {
        color: white;
        font-size: 1.3em;
        text-decoration: none;
        padding-right: 20px;
      }

      label {
        display: none;
      }
}

.menu-button {
    display: none; /* Oculta o botão do menu por padrão em tamanhos maiores */
    border: none;
    color: white;
    cursor: pointer;
    background-image: url('../../public/menu-icon.png');
    background-repeat: no-repeat;
    background-position: center;
    height: 5vh;
    width: 10px;
    padding-right: 50px;
  }
  
  .navbar {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  
  .navbar.open {
    flex-direction: column;
    text-align: center;
    position: absolute;
    background-color: #0146C0;
    top: 60px; /* Ajuste a posição conforme necessário */
    left: 0;
    right: 0;
    z-index: 1000;
  }
  
  .link {
    color: white;
    font-size: 1.3em;
    text-decoration: none;
    margin: 10px; /* Adicione espaçamento entre os links */
  }

  footer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 7vh;
    background-color: #101010;
    color: white;
    font-weight: bold;
  }


  /* Estilos para telas menores */
@media screen and (max-width: 768px) {

    body {
      overflow-x: hidden;
    }
  
    .menu-button {
      display: inline-block; /* Exibe o botão do menu em tamanhos menores */
    }
  
    .navbar {
      display: none; /* Oculta a barra de navegação por padrão em tamanhos menores */
    }
  
    .navbar.open {
      display: flex;
    }
}